*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
body {
  background-color: #F5F5F5;
  width: 1440px;
  height: 1700px;
}
.h1{
  font-size: 14px;
  font-family: "Arial";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: left;
  margin-left: 290px;
  margin-top: 150.569px;
}
.ul{
	color: rgb(39, 61, 70);
	font-size: 20px;
	font-family: "Arial";
	margin-left: 290px;
	margin-top: 20px;
}

.ul li{
	line-height: 30px;
	position: relative;
	padding-left: 30px;
}
.ul li:before{
	content:'';
	background-image: url(../img/checkicon.png);
	height: 20px;
	width: 25px;
	margin-right: 10px;
	display: inline-block;
	background-repeat: no-repeat;
	position: absolute;
	top: 2px;
	left: 0;
}
.ul2{
	color: rgb(39, 61, 70);
	font-size: 20px;
	font-family: "Arial";
	margin-left: 290px;
	margin-top: 70px;
}

.ul2 li{
	line-height: 30px;
}
.ul2 li:before{
	content:'';
	background-image: url(../img/checkicon.png);
	height: 20px;
	width: 25px;
	margin-right: 10px;
	display: inline-block;
	background-repeat: no-repeat;
}
.ul li:nth-child(1){
	text-decoration: line-through;
}
.ul li:nth-child(2){
	font-weight: 600 ;
}
.ul li:nth-child(3){
   	font-style: italic;
}
.ul li:nth-child(4){
	text-transform: uppercase;	
}
.ul2 li:nth-child(1):hover{
	text-decoration: line-through;
}
.ul2 li:nth-child(2):hover{
	color: red;
}
.ul2 li:nth-child(3):hover{
    font-style: italic;
}
.ul2 li:nth-child(4):hover{
	text-transform: uppercase;	
}
.form{
	margin-left: 300px;
	margin-top: 30px;
}
.button{
	font-family: "Arial";
	font-size: 15px;
	padding: 5px 20px;
	display: inline-block;
	border: 2px solid #40E0D0;
	border-radius: 20px;
	background-color: #40E0D0;
	text-transform: uppercase;
	margin-right: 40px;
	letter-spacing: 2px;
	color: white;
	font-weight: 300;
	position: relative;
	padding-left: ;
}
.button:after{
	content: '';
	background-image: url(../img/Shape2.png);
	margin-left: 10px;
	background-position: bottom;
	height: 15px;
	width: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
	top: 1px;
	right: 0;
}
.form .button:nth-child(2):hover{
	background-color: #006400;
	border-color: #006400;
}
.form .button:nth-child(3):active{
    background-color: #666;
	border-color: #666;
}
.input{
	font-family: "Arial";
	display: inline-block;
	height: 50px;
	width: 200px;
	font-size: 30px;
	border: 1px solid black;
	margin-top: 50px;
	margin-right: 50px;
}
.form .input:nth-child(2):focus{
	box-shadow: 0 0 10px 0 #00BFFF;
}
